[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/ack-vim"]
	path = bundle/ack-vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/git-vim"]
	path = bundle/git-vim
	url = git://github.com/motemen/git-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "VIM-Color-Picker"]
	path = VIM-Color-Picker
	url = ./bundle/VIM-Color-Picker/
[submodule "loremipsum"]
	path = loremipsum
	url = ./bundle/loremipsum/
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = ./bundle/vim-coffee-script/
[submodule "vim-powerline"]
	path = vim-powerline
	url = ./bundle/vim-powerline/
[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
	url = git://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/loremipsum"]
	path = bundle/loremipsum
	url = git://github.com/vim-scripts/loremipsum.git
[submodule "bundle/OOP-javascript-indentation"]
	path = bundle/OOP-javascript-indentation
	url = git://github.com/vim-scripts/OOP-javascript-indentation.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "bundle/vim-markdown-preview"]
	path = bundle/vim-markdown-preview
	url = git://github.com/nelstrom/vim-markdown-preview.git
[submodule "bundle/vim-tidy-up"]
	path = bundle/vim-tidy-up
	url = git@github.com:mstahl/vim-tidy-up.git
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "colors/vim-colors-solarized.vim"]
	path = colors/vim-colors-solarized.vim
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/hammer"]
	path = bundle/hammer
	url = https://github.com/matthias-guenther/hammer.vim.git
[submodule "bundle/vim-instant-markdown"]
	path = bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
